.ttp a{height:auto;}
/*主题列表上方的分类按钮不限高*/

.tl .num { width: 3em; line-height: 1.25; text-align: center;}
.tl .by { line-height: 1.25; }
.tl .lastp { text-align: right; }
.tl cite { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
/*主题列表作者、回复数、最后发表调整*/

.tl th a:visited { color: unset; }
/*访问过的链接不要变浅*/

#newspecial_menu {
    width: auto;
    padding-right: 10px;
}
/*发帖按钮*/

.closeprev {
    width: 1em;
    height: 1em;
    line-height: 1;
}
.closeprev:hover {
    text-decoration: none;
}
/*关置顶那小叉叉*/

@media screen and (orientation: portrait) {
  #switchwidth,#diy-tg,#hd h2,#um p:last-child,#ct .bm.bml.pbn,#fd_page_top,#thread_types,.tl .num em,.tl .icn,.tl .th,.cgb,#separatorline td:first-child { display: none; }
  #toptb { min-width: unset; }
  .wp { width: 100%; }
  #ls_username, #ls_password { width: 90px; }
  #nv li a { padding: 0 5px; }
  #scbar_txt { width: 130px;}
  .bm_c { padding: 0; }
  .tl .lastp { padding-right: 5px; }
  .tl .by {
    width: 60px;
    font-size: 14px;
  }
  .tl .num {
    width: 1.2em;
    font-size: 14px;
  }
  .new, .common {
    padding-right: 5px !important;
  }
}