.lk .x li {width: 10em;}
/*友情链接加宽*/

#category_grid {font-size:12px;}
.category_newlist li {
    height: auto;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
}
.newimgbox>.slidebox_grid,
.newimgbox>.slidebox_grid>.slideouter,
.newimgbox>.slidebox_grid>table,
.newimgbox>.slidebox_grid>table img{
    max-width: 100%;
}
.newimgbox>.slidebox_grid>table img{
    height: auto;
}
/*首页四格保持小字号、细节调整（先到后台设标题截取长度足够大）、幻灯宽高调整*/

.fl_by div {width: 320px;}
/*首页主题加宽*/

@media screen and (orientation: portrait) {
  #switchwidth,#diy-tg,#um p:last-child,#category_grid,.fl_i,p.xg2,#hd h2,#pt,#chart .y,#onlinelist .ptm.pbm.bbda,.frame-title { display: none; }
  #toptb { min-width: unset; }
  .wp { width: 100%; }
  #ls_username, #ls_password { width: 90px; }
  .fl_by {
    width: 150px;
    max-width: 150px;
  }
  .fl_by div {
    width: 140px;
    padding-left: 0;
  }
  .fl_by cite {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  #nv li a { padding: 0 5px; }
  #scbar_txt { width: 130px;}
  #onlinelist dd ul li {
    width: 10em;
  }
}