<!--{template common/header}-->
<!--{if $type != 'countitem'}-->
<div id="ct" class="wp cl">
	<h1 class="mt"><i class="fico-tag fc-s" alt="tag"></i> {lang tag}</h1>
	<div class="bm">
		<div class="bm_c">
			<form method="post" action="misc.php?mod=tag" class="pns">
				<input type="text" name="name" class="px vm" size="30" />&nbsp;
				<button type="submit" class="pn"><em>{lang search}</em></button>
				<button onclick="const taglist = document.querySelector('.taglist');const anchors = Array.from(taglist.querySelectorAll('a'));anchors.sort(function(a, b) {var aValue = parseInt(a.querySelector('.xg1').textContent);var bValue = parseInt(b.querySelector('.xg1').textContent);return bValue - aValue;});anchors.forEach(function(anchor) {taglist.appendChild(anchor);});this.remove()" class="pn y"><em>按帖数排序</em></button>
			</form>
			<div class="taglist mtm mbm">
				<!--{if $tagarray}-->
					<!--{loop $tagarray $tag}-->
						<a href="misc.php?mod=tag&id=$tag[tagid]" title="$tag[tagname]" target="_blank" class="xi2">$tag[tagname]<span class="xg1">{echo C::t('common_tagitem')->select($tag[tagid], 0, 'tid', '', '', 0, 0, 0, 1)}</span></a>
					<!--{/loop}-->
				<!--{else}-->
					<p class="emp">{lang no_tag}</p>
				<!--{/if}-->
			</div>
		</div>
	</div>
</div>
<!--{else}-->
$num
<!--{/if}-->
<!--{template common/footer}-->